.touppercase {
    text-transform: uppercase;
}

/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding-top: 28px;
    padding-bottom: 50px;
    padding-left: 200px;
}
.footer-col-title{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
}
.footer-col-item{
    margin-bottom: 4px;
    font-size: 1em;
    text-decoration: none;
}
.social-network{
    margin-top: 12px;
}
.socil-network-item{
    margin-right: 8px;
    opacity: 0.6;
}
.socil-network-item:hover{
    opacity: 1;
}
.liens{
    display: flex;
    flex-direction: column;

}